body {
  background:
linear-gradient(324deg, #bbc4cd 4%,   transparent 50%) -70px 43px,
linear-gradient( 36deg, #bbc4cd 4%,   transparent 50%) 30px 43px,
linear-gradient( 72deg, #e30d1d 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #fff5ea 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #120be3 7.5%, transparent 7.5%) -70px 23px,
linear-gradient(144deg, #120be3 7.5%, transparent 7.5%) 30px 23px,

linear-gradient(324deg, #bbc4cd 4%,   transparent 100%) -20px 93px,
linear-gradient( 36deg, #bbc4cd 4%,   transparent 100%) 80px 93px,
linear-gradient( 72deg, #e30d1d 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #fff5ea 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #120be3 7.5%, transparent 7.5%) -20px 73px,
linear-gradient(144deg, #120be3 7.5%, transparent 7.5%) 80px 73px;
background-color: #f4fcf2;
background-size: 100px 100px;
}


footer p{
  text-align: center
}

div {
  margin-top: -85px;
  background-color: white;
  padding:5px;
  border-radius: 20px;
}

h3 {
  padding: 5px;
  background-color: white;
  border-radius: 20px 
}

h4 {
  width:100%;
  margin:-75px auto 10px;
}
